<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/indexMain.css">
</head>
<body>
    
    <div id="vApp">
        <div class="poke-contain"> 
            <div class="poke-dex">
                <div class="poke-img-back">
                    <div 
                    v-bind:class="pokeImgClassObject"
                    class="poke-img" :style="{ 'backgroundImage' : 'url(\'' + imgBack + '\')' }"></div>
                </div>
                <div class="poke-name-back">
                    <div class="poke-name" v-text="pokeNamePartial"></div>
                </div>
            </div>
            <div class="poke-input-back">
                <input @keyup="checkName()" v-model="userInput" class="poke-input" type="text">
            </div>
            <button @click="startGame()">Start game</button>

        </div>
    </div>




    <script src="./scripts/vue.js"></script>
    <script src="./scripts/pokeData.js"></script>
    <script src="./scripts/indexMain.js"></script>
</body>
</html>