body, html {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif
}

.dadList {
    width: 50%;
    margin: 0 auto;
}

.dadItem {
    width: 90%;
    margin: 15px auto;
    height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(88, 87, 87);
}

.dadContent {
    border: 2px solid rgb(168, 168, 168);
    height: inherit;
    line-height: 50px;
    background: white;
    user-select: none;
}

.dadContent:hover{
    background: rgb(210, 245, 255);
    text-shadow: 0 0 2px white;
    cursor: move;
}