body, html {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif
}

.dadList {
    width: 50%;
    margin: 0 auto;
    background: rgb(164, 235, 164);
    padding: 5px 0;
    border: rgb(111, 138, 146) 1px solid;
}

.dadItem {
    width: 90%;
    margin: 15px auto;
    height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(88, 87, 87);
    position: relative;
}

.dadContent {
    border: 2px solid rgb(168, 168, 168);
    height: inherit;
    width: 100%;
    line-height: 50px;
    background: white;
    user-select: none;
}

.dadContent:hover{
    cursor: move;
}

.posAb {
    position: absolute;
    background: rgb(210, 245, 255);
    text-shadow: 0 0 2px white;
    z-index: 100;
}