<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drag and Drop 2</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    
    <div id="app">
        <div onmouseleave="listData.letGoList()" onmousemove="listData.moveLi()" class="list-contain"></div>
        <div class="list-input-contain">
            <div class="list-input">
                <input onkeydown="listData.addItem(event, this, true)" class="list-text" type="text">
                <button onclick="listData.addItem(event, this.parentElement.children[0], false)" class="list-button" >Add</button>
            </div>
        </div>
        
    </div>

    

    <script src="scripts/main.js"></script>

</body>
</html>