<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebGl</title>
    <link rel="stylesheet" href="/styles/mainStyles.css">
</head>
<body onload="main()">
    
    <div id="app" >
        <canvas id="game-surface" width="800" height="600">
            Your browser does not support HTML5. Please update your browser to view this.
        </canvas>
    </div>

    <script src="/scripts/mainScripts.js"></script>

</body>
</html>