.wordArea {
    background: #232323;
    font-family: Arial, Helvetica, sans-serif;
}

.letterGeneral {
    display: inline-block;
    font-size: 30px;
}

.letterComplete {
    color: rgb(180, 180, 180);
}

.letterIncomplete {
    color: white;
}