<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flex Nav</title>
    <link rel="stylesheet" href="styles/indexStyles.css">
</head>
<body>
    
    <div id="app">
        <div class="flex-container">
            <div onmouseover="" class="flex-item">
                <div>Photos</div>
            </div>
            <div onmouseover="" class="flex-item">
                <div>News</div> 
            </div>
            <div onmouseover="" class="flex-item">
                <div>Contact</div> 
            </div>
        </div>
    </div>


    <script src="scripts/indexScripts.js"></script>

</body>
</html>