<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New To Do</title>
    <link rel="stylesheet" href="styles/indexMain.css">
    
</head>
<body>

    <div id="app">
        <div class="headSec">
            <div class="headInfo">
                <div class="headLogo">MarkTo-Do</div>
            </div>
        </div>
        <div class="listSec">
            <div class="listCon"></div>
        </div>
        <div class="inputSec">
            <div class="inputContainer">
                <input type="text" name="event" class="inputEvent" placeholder="Go shopping..">
                <input type="text" name="deadline" class="inputDeadline" placeholder="2020/10/24">
                <input type="text" name="location" class="inputLocation" placeholder="Dublin">
                <button class="inputButton">Add to-do</button>
            </div>
        </div>
        <div class="footSec"></div>
    </div>

    <script src="scripts/indexMain.js"></script>
    
</body>
</html>