.poke-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    opacity: 1;
}

.poke-img-hidden {
    filter: contrast(0) sepia(100%) hue-rotate(192deg) saturate(2000%) brightness(100%) drop-shadow(-5px 5px 2px rgba(0,0,0,0.5));
}

.poke-img-reveal {
    filter: drop-shadow(-5px 5px 2px rgba(0,0,0,0.5));
}
