
* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.list-contain {
    box-sizing: border-box;
    margin: 10px auto 84px auto;
    width: 33%;
    text-align: center;
    font-size: 2em;
    color: white;
    background: lightgrey;
    padding: 10px 20px;
    border: 1px solid rgb(182, 182, 182);
}

.dad-li {
    background: rgb(98, 202, 209);
    border: 1px solid rgb(45, 164, 219);
    margin: 10px 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    user-select: none;
}

.dad-li-inner:hover {
    cursor: grab;
}

.dad-li-inner-grab {
    background: rgb(68, 156, 214);
    box-shadow: 2px 2px 4px grey;
    border: 1px solid rgb(49, 48, 133);
}

.list-input-contain {
    border-top: 1px solid rgb(187, 187, 187);
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(197, 196, 196);
    padding: 12px 0;
}



.list-input {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.list-text {
    font-size: 30px;
    text-indent: 5px;
    padding: 4px;
    outline: none;
}

.list-text:focus {
    box-shadow: 0px 0px 4px rgb(151, 151, 151);
}

.list-button {
    background: rgb(87, 160, 28);
    color: white;
    font-size: 30px;
    outline: none;
}

.list-button:hover {
    cursor: pointer;
    background: rgb(70, 131, 20);
}