
.main__body {
    background: #f7f7f7;
}

.main__body__search {
    display: flex;
    margin: 0 auto 2em auto;
    width: fit-content; 
}

.main__body__search__inp {
    font-size: 2em;
    border: 1px solid rgb(206, 206, 206);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 20em;
    height: 40px;
    text-indent: 3px;
}

.main__body__search__inp:focus{
    outline: none;
    border: 1px solid rgb(14, 134, 233);
    z-index: 10;
}

.main__body__search__button {
    width: 40px;
    height: 40px;
    vertical-align: top;
    border: 1px solid rgb(206, 206, 206);
    background: white;
    transform: translateX(-1px);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.main__body__search__button:hover {
    background: rgb(14, 134, 233);
    cursor: pointer;
    color: white;
    border: 1px solid rgb(14, 134, 233);
    
}

.main__body__stories {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
}

.main__body__stories__block {
    display: inline-block;
    margin: 1em;
    width: 22em;
    height: 22em;
    border: 1px solid rgb(164, 204, 201);
    border-radius: 2px;
    background: rgb(241, 246, 250);
    vertical-align: top;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(77, 77, 77, 0.2);
}

.main__body__stories__block:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 4px 4px rgba(77, 77, 77, 0.2);
    background: rgb(226, 235, 243);
}

.main__body__stories__block__title {
    font-size: 2.1em;
    padding: .4em;
}

.main__body__stories__block__desc {
    font-size: 1.4em;
    padding: .1em .4em;
}