
.main__body {
    display: flex;
    height: calc(100vh - 100px);
    padding-top: 0;
    background: #fdfdfd;
}

.main__body__login-form > h2 {
    font-size: 3.5em;
    text-align: center;
    color: rgb(0, 0, 0);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.main__body__login-form {
    flex: 0 0 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr repeat(5, 1fr);
}

.main__body__login-form__fill {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.main__body__login-img {
   background-image: url('../imgs/login1.jpg');
   flex: 0 0 50%;
   height: 100%;
   background-size: cover;
   position: relative;
}

.main__body__login-img::after {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(252, 233, 181, 0.3);
}

.main__body__login-form__label {
    font-size: 2.4em;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
    transform: translateX(-20%);
    padding-top: .2em;
}

.main__body__login-form__inp-con {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}

.main__body__login-form__txt-inp {
   border: 1px rgb(161, 161, 161) solid;
   text-indent: 4px;
   font-size: 2.4em;
   padding: .2em 0;
   position: relative;
   border-radius: 1px;
}

.main__body__login-form__txt-inp:focus {
    outline: none;
    border: 1px solid rgba(0, 173, 241, 0.6);
    animation: input-pulse 2s infinite;
}

@keyframes input-pulse {
    0% {
        box-shadow: 0 0 0 rgba(0, 173, 241, 0.6);
    }
    50% {
        box-shadow: 0 0 8px rgba(0, 173, 241, 0.6);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 173, 241, 0.6);
    }
}


.main__body__login-form__submit {
    grid-area: submit;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 4.2em;
    cursor: pointer;
    background: rgb(24, 147, 196);
    color: white;
    width: 75%;
    justify-self: center;
    height: 70%;
    min-height: fit-content;
}

.main__body__login-form__submit:hover { 
    background: rgb(17, 96, 128);
}



.main__body__login-form__error > input {
    border: 1px solid rgb(185, 8, 8);
    position: relative;
}

.main__body__login-form__error-password::after {
    content: 'Password too short';
    display: none;
}

.main__body__login-form__error-username::after {
    content: 'Username/Email too short';
    display: none;
}


.main__body__login-form__error::after {
    display: block;
    position: absolute;
    left: 0;
    padding-left: .5em;
    top: 3em;
    font-size: 1.4em;
    color: red;
}


