html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    
}

.main__head {
    display: flex;
    height: 50px;
    font-size: 2em;
    border-bottom: 1px solid grey;
    background: rgb(73, 153, 122);
}

.main__head__user {
    width: 50%;
    display: flex;
    align-self: center;
    position: relative;
    color: white;
    cursor: pointer;
    
}

.main__head__user__pic {
    width: 1.5em;
    height: 1.5em;
    background: rgb(105, 105, 105);
    border-radius: 50%;
    text-align: center;
    line-height: 1.5em;
    margin-left: .3em;
    border: 1px solid rgb(150, 150, 150);
}

.main__head__user__name {
    margin-left: .2em;
    font-size: 1.3em;
}

.main__head__list  {
    display: flex;
    width:50%;
    list-style: none;
    color: white;
    align-self: center;
    position: relative;
    justify-content: flex-end;
}

.main__head__list > a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.main__head__list> a > li {
    margin-right: 1em;
    cursor: pointer;
    position: relative;
}

.main__head__list> a > li:hover::after,
 .main__head__list> a > li:hover::before { 
    content: attr(title);
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: 0;
}

.main__head__list> a > li:hover::after {
    animation: .3s rollDown;
}

.main__head__list> a > li:hover::before {
    animation: .3s rollUp;
}

@keyframes rollDown {
    0% {
        top: -60%;
        opacity: 0;
    }
    99% {
        top: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rollUp {
    0% {
        top: 60%;
        opacity: 0;
    }
    99% {
        top: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main__body {
    padding-top: 2em;
    min-height: calc(100vh - 90px);
}

.main__footer {
    border-top: 1px solid rgb(73, 153, 122);
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgb(74, 147, 150);
    font-size: 1.4em;
    color: white;
}


.main__footer > div {
    align-self: center;
}