.cre-user {
    width: 60%;   
    margin: 2em auto; 
    font-size: 1.6em;
    border: 2px solid rgb(156, 192, 178);
    border-radius: 2px;
    padding: 1em .5em;
}

.cre-user > h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

.cre-user__collection-1 {
    display: block;
    margin-bottom: 1.4em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.cre-user__collection-1 > label {
    text-indent: .4em;
    font-weight: bold;
}

.cre-user__inp-text {
    font-size: 1.1em;
    border: 1px solid rgb(163, 163, 163);
    text-indent: .2em;
}

.cre-user__submit {
    background: rgb(43, 157, 177);
    color: white;
    font-size: 2em;
    padding: .2em .4em;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
}   

.cre-user__submit:hover { 
    background: rgb(29, 116, 131);
    cursor: pointer;
}