<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="styles/mainSty.css">
</head>
<body>

    <div id="app">
        <div class="main">
            <!--Header-->
            <header class="main__head">
                <div class="main__head__user">
                    <div class="main__head__user__pic"></div>
                    <div class="main__head__user__name" ></div>
                </div>
                <ul class="main__head__list">
                    <a href="/"><li title="Home">Home</li></a> 
                    <a href="/sign-up"><li title="Create User">Create User</li></a> 
                    <a href="/log-in"><li title="Sign In">Sign In</li></a> 
                </ul>
            </header>


            <section class="main__body"></section>

            <!--Footer-->
            <footer class="main__footer">
                    <div>Copyright Mark Anthony &copy;2019</div>
            </footer>
        </div>
        
    </div>

    <script src="scripts/mainScr.js"></script>
    
</body>
</html>