<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="styles/mainSty.css">
</head>
<body>

    <div id="app">
        <div class="main">
            <header class="main__head">
                <ul>
                    <li>Home</li>
                    <li>Create User</li>
                    <li>Sign In</li>
                </ul>
            </header>
            <section class="main__body"></section>
            <footer class="main__footer"></footer>
        </div>
        
    </div>

    <script src="scripts/mainScr.js"></script>
    
</body>
</html>