<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/mainSty.css">
    <link rel="stylesheet" href="styles/logInSty.css">
</head>
<body>

    <div id="app">
        <div class="main">
            <header class="main__head">
                <ul>
                    <a href="/"><li title="Home">Home</li></a> 
                    <a href="/sign-up"><li title="Create User">Create User</li></a> 
                    <a href="/log-in"><li title="Sign In">Sign In</li></a> 
                </ul>
            </header>

            <section class="main__body">

                <form  class="main__body__login-form">
                    <div class="main__body__login-form__fill"></div>
                    <h2>Sign In</h2>
                    <label class="main__body__login-form__label"  for="main__body__login-form__username">Username/Email</label>
                    <div class="main__body__login-form__inp-con">
                        <input class="main__body__login-form__txt-inp" id="main__body__login-form__username" type="text">
                    </div>
                    <label class="main__body__login-form__label" for="main__body__login-form__password">Password</label>
                    <div class="main__body__login-form__inp-con">
                        <input class="main__body__login-form__txt-inp" id="main__body__login-form__password" type="password">
                    </div>
                    <input class="main__body__login-form__submit" type="submit">
                </form>
                <div class="main__body__login-img"></div>
            </section>
            <footer class="main__footer">
                    <div>Copyright Mark Anthony &copy;2019</div>
            </footer>
        </div>
        
    </div>

    <script src="scripts/mainScr.js"></script>
    <script src="scripts/loginScr.js"></script>
    
</body>
</html>