<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit Story</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/mainSty.css">
    <link rel="stylesheet" href="styles/storySubmitSty.css">
</head>
<body>

    <div id="app">
        <div class="main">
            <!--Header-->
            <header class="main__head">
                <div class="main__head__user">
                    <div class="main__head__user__pic">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="main__head__user__name" ></div>
                </div>
                <ul class="main__head__list">
                    <a href="/"><li title="Home">Home</li></a> 
                    <a href="/submit"><li title="Submit Story">Submit Story</li></a>
                    <a href="/sign-up"><li title="Create User">Create User</li></a> 
                    <a href="/log-in"><li title="Sign In">Sign In</li></a>
                </ul>
            </header>


            <section class="main__body">
                <form class="main__body__submit">
                    <div class="main__body__submit__intro">
                        <h2>Submit your story</h2>
                    </div>
                    <div class="main__body__submit__title">
                        <input placeholder="Title" type="text" class="main__body__submit__title__inp">
                    </div>
                    <div class="main__body__submit__text">
                        <textarea placeholder="Text.." name="" id="" class="main__body__submit__text__inp"></textarea>
                    </div>
                    <div class="main__body__submit__sub">
                        <div class="main__body__submit__sub__genre">
                            <label for="main__body__submit__genre__inp">Genre</label>
                            <select name="genre" class="main__body__submit__genre__inp" id="main__body__submit__genre__inp">
                                <option value="Fantasy">Fantasy</option>
                                <option value="Western">Western</option>
                                <option value="Romance">Romance</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Detective">Detective</option>
                                <option value="Dystopia">Dystopia</option>
                                <option value="Horror">Horror</option>
                                <option selected value="Other">Other</option>
                            </select>
                        </div>
                        <div class="main__body__submit__sub__post">
                            <button class="main__body__submit__sub__post__button">
                                Post
                            </button>
                        </div>
                    </div>
                </form>

                

            </section>

            <section>
                <div class="main__body__login-warn hidden">
                    <div class="main__body__login-warn__int">
                        <h2>Please login to submit a story</h2>
                        <a href="/log-in"><div>Log in</div></a>
                    </div>
                </div>
            </section>

            <!--Footer-->
            <footer class="main__footer">
                    <div>Copyright Mark Anthony &copy;2019</div>
            </footer>
        </div>
        
    </div>

    <script src="scripts/mainScr.js"></script>
    <script src="scripts/submitStoryScr.js"></script>
    
</body>
</html>