* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.flex-container:hover {
    cursor: pointer;
}

.flex-item {
    position: relative;
    font-weight: bold;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: auto;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 42px;
    line-height: 100vh;
    
}

@keyframes flex-animate {
    0%{width: 100%;}
    100%{width: 300%}
}

.flex-item:hover {
    animation: flex-animate 1s forwards;
}


.flex-item:nth-child(1) {
    background-image: url('/imgs/nav1.jpeg');
}

.flex-item:nth-child(2) {
    background-image: url('/imgs/nav2.jpg'); 
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.flex-item:nth-child(3) {
    background-image: url('/imgs/nav3.jpeg'); 
}



@keyframes shrink-animate {
    0%{width: 150%}
    100%{width: 100%};
}

.shrink-div {
    animation: shrink-animate 1s;
}

.div-cover {
    position: absolute;
    background: rgba(5, 5, 5, 0.3);
    height: 100vh;
    width: 100%;
    z-index: 50;
}

.flex-title {
    position: relative;
    z-index: 100;
}