* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.flex-item {
    height: 100vh;
    width:100%;
    background-position: center;
    background-size: auto;
    color: white;
    text-shadow: 0 0 1px black;
    font-size: 42px;
    line-height: 100vh
}

@keyframes flex-animate {
    0%{width: 100%;}
    100%{width: 300%}
}

.flex-item:hover {
    cursor: pointer;
    animation: flex-animate 1s forwards;
}

.flex-item:nth-child(1) {
    background-image: url('/imgs/nav1.jpeg');
}

.flex-item:nth-child(2) {
    background-image: url('/imgs/nav2.jpg'); 
}

.flex-item:nth-child(3) {
    background-image: url('/imgs/nav3.jpeg'); 
}